.Header {
  padding: 24px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.Header a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoContainer a  {
  display: flex;
  justify-content: center;
}


@media only screen and (min-width: 768px) {
  .Header {
    padding-left: 64px;
    padding-right: 64px;
  }
  .LogoContainer a  {
    justify-content: start;
    padding-left: 32px;
  }
}