.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.App-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 80vh;
  padding: 0 !important;
  margin: 0 !important;
}

.App-Page {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.App-body {
  font-size: large;
}
